<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/setup.css">
    <title>Setup</title>
</head>
<body>
    <div class="root">
        
        <div class="container">
            <div class="text">
                <h1>Cadastre o Administrador</h1>
                <p>Configuração inicial do sistema</p>
            </div>
            <div class="entradas">
                
                <input type="text" class="nome" placeholder="Nome">
                <input type="email" class="email" placeholder="E-mail">
                <input type="password" class="senha" placeholder="Senha">
                <p class="resul"></p>
            </div>
            <div class="btao">
                <button type="button" class="btn">Enviar</button>
                
            </div>
           <a href="{{url_for('login')}}">Singup</a>
        </div>
    </div>
    
    <script src="../static/setup.js"></script>
</body>
</html>