@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e293b ;
}
.root{
    display: flex;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
.side-bar{
    background-color:#0f172a ;
    width: 260px;
    height: 100vh;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.logo{
    width: 265px;
    height: 145px;
}
.linha{
    width: 260px;
    border: solid 2px #27354b;
    border-radius: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 10px;
}
.card{
    cursor: pointer;
    padding: 20px;
    width: 260px;
}
.card:hover{
    transition: .3s;
    background-color:#32435f ;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.root {
    display: flex;
    min-height: 100vh;
}
.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #27354b; 
    color: whitesmoke;
    width: 100%;
    border: solid 2px #2a364b;
    box-shadow: 6px 2px 3px 1px #00000066;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav img {
    width: 30px;
    height: 30px;
    display: block;
}
h1 {
    margin: 0; 
    font-size: 30px;
}
.main-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}
.main-card{
    margin-top: 30px;
    color:white;
    border: solid 3px black;
    padding: 30px;
    width: 300px;
}
